.center-flex {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.flex-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 360px;
	width: 540px;
	background-color: #313a48;
	border-radius: 15px;
	box-shadow: 30px 50px 80px rbga(0, 0, 0, 0, 100202);
}

.flex-item p:first-child {
	position: fixed;
	transform: translate(0, -120px);
	font-family: "Manrope";
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 4.08571px;
	color: #53ffaa;
}

.flex-item p:nth-child(2) {
	position: relative;
	transform: translate(0, -10px);
	margin: 0 5vw 0 5vw;
	font-family: "Manrope";
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	letter-spacing: -0.3px;
	color: #cee3e9;
}

.flex-item img:nth-child(3) {
	position: fixed;
	transform: translate(0px, 9vh);
}

.flex-item div:nth-child(4) {
	position: fixed;
	height: 48px;
	width: 48px;
	transform: translate(0, 13.75vh);
	background-color: #53ffaa;
	border-radius: 50%;
}

.flex-item div:nth-child(4):hover {
	cursor: pointer;
	box-shadow: 0 0 12px 0px #53ffaa;
}

.flex-item div:nth-child(4) img {
	position: relative;
	left: 12px;
	top: 12px;
}
